.hero {
  background: url("../images/#");
}

.card-img {
  object-fit: cover;
  height: 100%;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;

  transform: scale(1.04);
}
